

<html>

<head>
    <style type="text/css">

        #top {
            background-color:black;
            color:white;
            text-align:center;
            padding:5px;
        }

        #first, #second, #third {
            width: 100px;
            height: 50px;
            border: 1px #333 solid;
            margin: 5px;
            float: left;
        }
    </style>
</head>
<body>

    <div id="top">头部div</div>

    <div id="first">第1块div</div>
    <div id="second">第2块div</div>
    <div id="third">第3块div</div>

</body>
</html>
