@{
    Layout = "_LayoutPF";
    ViewBag.Title = "概率";
}

<html>

<head>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript">
        
        function FormAjax(){

            $.ajax({

                url: "/PF/RegisterResult",

                data: {

                    DuiMing: $("#DuiMing").val(),
                    Time: "Time",
                    Half:$("input[name='Half']:checked").val()
                },

                type: "post",

                dataType:"text",

                success: function (response) {

                    alert(response);

                }

            });

        }

        //$(document).ready(function(){
        //  $("#b01").click(function(){
        //    alert("result: ");
        //  });
        //});

        $(document).ready(function(){
            $("#b01").click(function () {

                var datas = {
                    DuiMing:"DuiMing",
                    Time: "Time"
                    
                };

                $.ajax({
                    type: "POST",
                    url: "/PF/GetJiaoQiuJson",
                    data:JSON.stringify(datas), 
                    //data:datas.toJSONString(),
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                         alert("result: " + result );
                    }
                });
            });
         });
                //var data = {
                //    "DuiMing":"DuiMing",
                //    "Time":"Time"
                //};

                //$.ajax({
                //    type: "POST",
                //    url: "/PF/GetJiaoQiuJson",
                //    data: data,
                //    contentType: "application/json; charset=utf-8",
                //    dataType: "json",
                //    success: function (result) {
                //         alert("result: " + result );
                //    }

                //$.post("/PF/GetJiaoQiuJson",
                //{
                //  DuiMing:"DuiMing",
                //  Time:"Time"
                //},
                //function(data,status){
                //  alert("Data: " + data + "\nStatus: " + status);
                //});
            
    </script>

    <style type="text/css">

        /*主面板样式*/
        #container {
            width: 980px;
            margin: 0px auto; /*主面板DIV居中*/
        }
        /*顶部面板样式*/
        #header {
            width: 100%;
            height: 150px;
            border: 1px #F00 solid;
        }
        /*中间部分面板样式*/
        #main {
            width: 100%;
            height: 600px;
            border: 1px #F00 solid;
        }
        /*底部面板样式*/
        #footer {
            width: 100%;
            height: 100px;
            border: 1px #F00 solid;
        }
    </style>
</head>
<body>

    <div id="Container">
        <div id="header">顶部（header）</div>

        <form action="/PF/GetJiaoQiu" method="post">
            <div id="main">
                <div>
                    <input type="text" name="DuiMing" id="DuiMing" placeholder="队名:(可不填)" />
                </div>
                <div>
                    <label><input name="Half" checked type="radio"   value="up" />上半</label>
                    <label><input name="Half" type="radio"   value="down" />下半</label>
                </div>
                <div>
                    <p>当前时间:(分钟)</p>
                    <input type="text" value="37" name="Time" id="Time" placeholder="当前时间:(分钟)" />
                </div>
                <div>
                    <p>初盘角球:(个)</p>
                    <input type="text" value="9" name="ChuPanJiao" id="ChuPanJiao" placeholder="初盘角球:(个)" />
                </div>
                <div>
                    <p>当前角球:(个)</p>
                    <input type="text" value="2" name="DangQianJiao" id="DangQianJiao" placeholder="当前角球:(个)" />
                </div>
                <div>
                    <p>射正:(两队共)</p>
                    <input type="text" value="5" name="SheZheng" id="SheZheng" placeholder="射正:(两队共)" />
                </div>
                <div>
                    <p>射偏:(两队共)</p>
                    <input type="text" value="5" name="ShePian" id="ShePian" placeholder="射偏:(两队共)" />
                </div>
                <div>
                    <p>初盘让球:(个)</p>
                    <input type="text" value="-1" name="ChuPanRang" id="ChuPanRang" placeholder="初盘让球:(个)" />
                </div>
                <div>
                    <p>当前让球:(个)</p>
                    <input type="text" value="-1.25" name="DangQianRang" id="DangQianRang" placeholder="当前让球:(个)" />
                </div>

                <div>
                    <button id="send" type="submit">预测</button>
                    @*<input type="submit" id="send" value="预测" />*@
                </div>

            </div>
        </form>


        <div id="footer">
            <div id="myDiv"><h2>通过 AJAX 改变文本</h2></div>
            <button id="b01" type="button">改变内容</button>
            <input id="ajax_btn" onClick="FormAjax();" type="submit" value="ajax提交">
        </div>
    </div>

</body>
</html>
